* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff8e1; 
    color: #333;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #ffb300; 
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    max-width: 270px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block; 
    margin: 0; 
    padding: 0; 
    border: none; 
}

.card p {
    font-size: 1.2rem;
    color: #333;
    padding: 10px 0; 
    background-color: #fff59d;
    margin-top: 0; 
    border-top: 0; 
    font-weight: bold;
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.pagination button {
    background-color: #ffb300;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #f57c00; 
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination button#prev:disabled {
    background-color: #ccc;
}
